<div id="add-email" class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="page-header">
      <h2>Add Email</h2>
    </div>
    <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
      <% if @show_errors && current_user.errors.any? %>
        <div id="error_explanation">
          <% current_user.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :email %>
        <div class="controls">
          <%= f.text_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'Example: email@me.com' %>
          <p class="help-block">Please confirm your email address. No spam.</p>
        </div>
      </div>
      <div class="actions">
        <%= f.submit 'Continue', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>