<div class="container">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2 class="text-center">OK, your cell phone is registered.<br><br>Next step: password</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <h3>experimental zone</h3>
            <div class="row">
              <p>github_client_id: <%= ENV['github_client_id'] %></p>
              <p>Figaro.env.github_client_id: <%= Figaro.env.github_client_id %></p>
              <p>facebook_app_id: <%= ENV['facebook_app_id'] %></p>
              <p>twitter_consumer_key: <%= ENV['twitter_consumer_key'] %></p>
              <p>twilio_account_sid: <%= ENV['twilio_account_sid'] %></p>
            </div>
            <hr>
            <div class="row">
              <p>login with facebook</p>
              <p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></p>
              <hr>
              <p>login with github</p>
              <p><%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %></p>
              <hr>
              <p>login with twitter</p>
              <p><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></p>
            </div>
            <hr>
        <%= render 'partials/flash' %>
        <%= bootstrap_form_for(@user) do |f| %>
          <%= f.password_field :password, hide_label: true, :class => 'input-lg', placeholder: "Create a password" %>
          <%= f.password_field :password_confirmation, hide_label: true, :class => 'input-lg', placeholder: "Confirm your password" %>
          <%= f.submit "Almost Done! >", :class => "btn btn-lg btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
