<!DOCTYPE html>
<html>
<head>
  <title>Turbolink</title>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= favicon_link_tag "touch-icon-iphone.png",        rel: "apple-touch-icon", sizes: "60x60",   type: "image/png" %>
  <%= favicon_link_tag "touch-icon-ipad.png",          rel: "apple-touch-icon", sizes: "76x76",   type: "image/png" %>
  <%= favicon_link_tag "touch-icon-iphone-retina.png", rel: "apple-touch-icon", sizes: "120x120", type: "image/png" %>
  <%= favicon_link_tag "touch-icon-ipad-retina.png",   rel: "apple-touch-icon", sizes: "152x152", type: "image/png" %>
</head>
<body>
  <div id="wrap">
    <%= render 'partials/nav_bar' %>
    <%= yield %>
  </div>
  <%= render 'partials/footer' %>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
